html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.scrollable-container {
    height: 100%;
    overflow-y: auto;
    padding-top: 30px;
    padding-left: 23px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.scrollable-content {
    height: 2000px;
    background-color: #2a79ff;
}

.add-row-button {
    display: block;
    background: none;
    border: 1px solid #4262FF;
    color: #4262FF;
    height: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}

.build-button {
    display: block;
    background-color: #4262FF;
    border: none;
    color: #FFF;
    height: 50px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    width: 274px;
}

.row-input {
    display: inline-block;
    vertical-align: top;
    width: 215px;
    height: 30px;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 4px 4px 4px 6px;
    box-sizing: border-box;
}

.delete-button {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    background: none;
    border: 1px solid #CCC;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}

.row-input:hover, .row-input:active,
.delete-button:hover, .delete-button:active {
    border: 1px solid #666;
}

.row {
    margin-bottom: 20px;
}

html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #050038;
    background-color: #fff;
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
}
/** @deprecated */
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 2px solid #c3c2cf;
    border-top-color: #050038;
    animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
.btn-base,
.btn-green,
.btn-blue,
.btn-grey {
    padding: 0 10px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 80px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 2px;
}
.btn-base .icon,
.btn-green .icon {
    display: inline-block;
    margin-right: 2px;
}
.btn-big {
    font-size: 16px;
    height: 40px;
    min-width: 100px;
    line-height: 38px;
    padding: 0 20px;
}
.btn-green {
    color: #fff;
    background-color: #7cc576;
}
.btn-green:hover {
    background-color: #61b959;
}
.btn-green:active,
.btn-green.active {
    background-color: #53b24b;
}
.btn-green.disabled,
.btn-green[disabled] {
    background-color: #9ed49a;
    cursor: default;
}
.btn-blue {
    color: #fff;
    background-color: #4262ff;
}
.btn-blue:hover {
    background-color: #1940ff;
}
.btn-blue:active,
.btn-blue.active {
    background-color: #052fff;
}
.btn-blue.disabled,
.btn-blue[disabled] {
    background-color: #758cff;
    cursor: default;
}
.btn-blue:hover:not(.disabled):not([disabled]) {
    background-color: #5C89E5;
}
.btn-grey {
    color: #808080;
    background-color: #f2f2f2;
}
.btn-grey:hover {
    background-color: #dedede;
}
.btn-grey:active,
.btn-grey.active {
    background-color: #d3d3d3;
}
.btn-grey.disabled,
.btn-grey[disabled] {
    background-color: #ffffff;
    cursor: default;
}
.btn-link {
    color: #4262ff;
    cursor: pointer;
}
.btn-link:hover {
    color: #455bed;
}
.btn-inline {
    margin-right: 13px;
}
.btn-inline:last-child {
    margin-right: 0;
}
button.rtb-button {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    min-width: 100px;
    padding: 0 10px;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    background-repeat: no-repeat;
    transition: color 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9), border 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9), background-color 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}
button.rtb-button.disabled,
button.rtb-button[disabled] {
    cursor: default;
}
button.rtb-button.blue {
    color: #fff;
    background-color: #4262ff;
}
button.rtb-button.blue:hover {
    background-color: #1940ff;
}
button.rtb-button.blue.disabled,
button.rtb-button.blue[disabled] {
    background-color: #758cff;
}
button.rtb-button.blue::before {
    border-color: #fff;
}
button.rtb-button.grey {
    color: rgba(0, 0, 0, 0.5);
    background-color: #f8f8f7;
}
button.rtb-button.grey:hover {
    background-color: #e5e5e1;
}
button.rtb-button.grey.disabled,
button.rtb-button.grey[disabled] {
    background-color: #ffffff;
}
button.rtb-button.grey::before {
    border-color: rgba(0, 0, 0, 0.5);
}
button.rtb-button.blue-text {
    color: #4262ff;
    background-color: transparent;
}
button.rtb-button.blue-text:hover {
    color: #1940ff;
}
button.rtb-button.blue-text.disabled,
button.rtb-button.blue-text[disabled] {
    color: #758cff;
}
button.rtb-button.blue-text::before {
    border-color: #4262ff;
}
input[type=text].rtb-input-old,
input[type=password].rtb-input-old {
    box-sizing: border-box;
    outline: none;
    text-align: left;
    width: 100%;
}
input[type=text].rtb-input-old.blue,
input[type=password].rtb-input-old.blue {
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    color: #4a4a4a;
    border: solid 1px #c3c2cf;
    border-radius: 4px;
    transition: border 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}
input[type=text].rtb-input-old.blue:hover,
input[type=password].rtb-input-old.blue:hover,
input[type=text].rtb-input-old.blue:focus,
input[type=password].rtb-input-old.blue:focus {
    border: solid 1px #4262ff;
}
input[type=text].rtb-input-old.blue:-ms-input-placeholder,
input[type=password].rtb-input-old.blue:-ms-input-placeholder {
    color: #4a4a4a;
    opacity: 0.5;
}
input[type=text].rtb-input-old.blue::placeholder,
input[type=password].rtb-input-old.blue::placeholder {
    color: #4a4a4a;
    opacity: 0.5;
}
.rtb-btn {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid;
    padding: 14px 24px 16px;
    font-size: 16px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    vertical-align: middle;
}
.rtb-btn:focus {
    outline: none;
}
.rtb-btn.rtb-btn--disabled,
.rtb-btn[disabled] {
    pointer-events: none;
    opacity: 0.4;
    cursor: default;
}
.rtb-btn--bold {
    font-weight: bold;
}
.rtb-btn--ellipse {
    border-radius: 18px;
}
.rtb-btn--large {
    padding: 17px 32px 19px;
    min-width: 120px;
    font-size: 20px;
    height: 60px;
}
.rtb-btn:not(.ng-hide) + .rtb-btn--large:not(.rtb-btn--pull-right) {
    margin-left: 20px;
}
.rtb-btn--large .rtb-btn__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.rtb-btn--medium {
    padding: 14px 24px 16px;
    min-width: 100px;
    font-size: 16px;
    height: 48px;
}
.rtb-btn:not(.ng-hide) + .rtb-btn--medium:not(.rtb-btn--pull-right) {
    margin-left: 16px;
}
.rtb-btn--medium .rtb-btn__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.rtb-btn--xsmall {
    padding: 0 10px;
    min-width: 65px;
    font-size: 12px;
    height: 32px;
}
.rtb-btn:not(.ng-hide) + .rtb-btn--xsmall:not(.rtb-btn--pull-right) {
    margin-left: 12px;
}
.rtb-btn--xsmall .rtb-btn__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.rtb-btn--small {
    padding: 9px 16px 11px;
    min-width: 80px;
    font-size: 14px;
    height: 36px;
}
.rtb-btn:not(.ng-hide) + .rtb-btn--small:not(.rtb-btn--pull-right) {
    margin-left: 14px;
}
.rtb-btn--small .rtb-btn__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.rtb-btn--small.rtb-btn--loading::before {
    width: 16px;
    height: 16px;
}
.rtb-btn--mini {
    padding: 5px 8px;
    min-width: 60px;
    font-size: 12px;
    height: 24px;
    border-radius: 2px;
}
.rtb-btn:not(.ng-hide) + .rtb-btn--mini:not(.rtb-btn--pull-right) {
    margin-left: 12px;
}
.rtb-btn--mini .rtb-btn__icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.rtb-btn--mini.rtb-btn--loading::before {
    width: 12px;
    height: 12px;
}
.rtb-btn--fluid {
    width: 100%;
}
.rtb-btn--icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.rtb-btn--primary {
    color: #fff;
    border-color: #4262ff;
    background-color: #4262ff;
}
.rtb-btn--primary:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    border-color: #455bed;
    background-color: #455bed;
}
.rtb-btn--primary:not(.rtb-btn--disabled):active,
.rtb-btn--primary.rtb-btn--loading,
.rtb-btn--primary:not(.rtb-btn--disabled).rtb-btn--active {
    border-color: #3d51d4;
    background-color: #3d51d4;
}
.rtb-btn--primary.rtb-btn--loading::before {
    border-color: transparent #fff #fff #fff;
}
.rtb-btn--secondary {
    color: #050038;
    border-color: #f5f5f7;
    background-color: #f5f5f7;
}
.rtb-btn--secondary:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    border-color: #f0f0f3;
    background-color: #f0f0f3;
}
.rtb-btn--secondary:not(.rtb-btn--disabled):active,
.rtb-btn--secondary.rtb-btn--loading,
.rtb-btn--secondary:not(.rtb-btn--disabled).rtb-btn--active {
    border-color: #ebebef;
    background-color: #ebebef;
}
.rtb-btn--secondary.rtb-btn--loading::before {
    border-color: transparent #050038 #050038 #050038;
}
.rtb-btn--danger {
    color: #fff;
    border-color: #d92929;
    background-color: #d92929;
}
.rtb-btn--danger:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    border-color: #c71414;
    background-color: #c71414;
}
.rtb-btn--danger:not(.rtb-btn--disabled):active,
.rtb-btn--danger.rtb-btn--loading,
.rtb-btn--danger:not(.rtb-btn--disabled).rtb-btn--active {
    border-color: #b80d0d;
    background-color: #b80d0d;
}
.rtb-btn--danger.rtb-btn--loading::before {
    border-color: transparent #fff #fff #fff;
}
.rtb-btn--primary-bordered {
    color: #4262ff;
    border-color: #6881ff;
    background-color: transparent;
}
.rtb-btn--primary-bordered:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    background-color: rgba(66, 98, 255, 0.04);
}
.rtb-btn--primary-bordered:not(.rtb-btn--disabled):active,
.rtb-btn--primary-bordered.rtb-btn--loading,
.rtb-btn--primary-bordered:not(.rtb-btn--disabled).rtb-btn--active {
    background-color: rgba(66, 98, 255, 0.06);
}
.rtb-btn--primary-bordered.rtb-btn--loading::before {
    border-color: transparent #4262ff #4262ff #4262ff;
}
.rtb-btn--primary-bordered--light-edition {
    color: #4262ff;
    border-color: #6881ff;
    background-color: transparent;
}
.rtb-btn--primary-bordered--light-edition:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    background-color: #fff;
}
.rtb-btn--primary-bordered--light-edition:not(.rtb-btn--disabled):active,
.rtb-btn--primary-bordered--light-edition.rtb-btn--loading,
.rtb-btn--primary-bordered--light-edition:not(.rtb-btn--disabled).rtb-btn--active {
    background-color: #fff;
}
.rtb-btn--primary-bordered--light-edition.rtb-btn--loading::before {
    border-color: transparent #4262ff #4262ff #4262ff;
}
.rtb-btn--secondary-bordered {
    color: #050038;
    border-color: #c3c2cf;
    background-color: transparent;
}
.rtb-btn--secondary-bordered:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    background-color: rgba(5, 0, 56, 0.02);
}
.rtb-btn--secondary-bordered:not(.rtb-btn--disabled):active,
.rtb-btn--secondary-bordered.rtb-btn--loading,
.rtb-btn--secondary-bordered:not(.rtb-btn--disabled).rtb-btn--active {
    background-color: #f5f5f7;
}
.rtb-btn--secondary-bordered.rtb-btn--loading::before {
    border-color: transparent #050038 #050038 #050038;
}
.rtb-btn--danger-bordered {
    color: #d92929;
    border-color: #e15454;
    background-color: transparent;
}
.rtb-btn--danger-bordered:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    background-color: #fef7f7;
}
.rtb-btn--danger-bordered:not(.rtb-btn--disabled):active,
.rtb-btn--danger-bordered.rtb-btn--loading,
.rtb-btn--danger-bordered:not(.rtb-btn--disabled).rtb-btn--active {
    background-color: #fdf2f2;
}
.rtb-btn--danger-bordered.rtb-btn--loading::before {
    border-color: transparent #d92929 #d92929 #d92929;
}
.rtb-btn--white-bordered {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}
.rtb-btn--white-bordered:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    background-color: transparent;
}
.rtb-btn--white-bordered:not(.rtb-btn--disabled):active,
.rtb-btn--white-bordered.rtb-btn--loading,
.rtb-btn--white-bordered:not(.rtb-btn--disabled).rtb-btn--active {
    background-color: transparent;
}
.rtb-btn--white-bordered.rtb-btn--loading::before {
    border-color: transparent #fff #fff #fff;
}
.rtb-btn--flat {
    min-width: auto;
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
}
.rtb-btn--primary-flat {
    min-width: auto;
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
    color: #4262ff;
}
.rtb-btn--primary-flat:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    color: #455bed;
}
.rtb-btn--primary-flat:not(.rtb-btn--disabled):not(.rtb-btn--loading):active {
    color: #3d51d4;
}
.rtb-btn--primary-flat.rtb-btn--loading::before {
    border-color: transparent #4262ff #4262ff #4262ff;
}
.rtb-btn--white-flat {
    min-width: auto;
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}
.rtb-btn--white-flat:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    color: #fff;
}
.rtb-btn--white-flat:not(.rtb-btn--disabled):not(.rtb-btn--loading):active {
    color: #fff;
}
.rtb-btn--white-flat.rtb-btn--loading::before {
    border-color: transparent #fff #fff #fff;
}
.rtb-btn--secondary-flat {
    min-width: auto;
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
    color: #827f9b;
}
.rtb-btn--secondary-flat:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    color: rgba(5, 0, 56, 0.6);
}
.rtb-btn--secondary-flat:not(.rtb-btn--disabled):not(.rtb-btn--loading):active {
    color: #050038;
}
.rtb-btn--secondary-flat.rtb-btn--loading::before {
    border-color: transparent #827f9b #827f9b #827f9b;
}
.rtb-btn--danger-flat {
    min-width: auto;
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
    color: #d92929;
}
.rtb-btn--danger-flat:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    color: #c71414;
}
.rtb-btn--danger-flat:not(.rtb-btn--disabled):not(.rtb-btn--loading):active {
    color: #d92929;
}
.rtb-btn--danger-flat.rtb-btn--loading::before {
    border-color: transparent #d92929 #d92929 #d92929;
}
.rtb-btn--secondary-just-bordered {
    color: #050038;
    border: 1px solid #c3c2cf;
}
.rtb-btn--secondary-just-bordered:not(.rtb-btn--disabled):not([disabled]):not(.rtb-btn--loading):not(:active):hover {
    border-color: #827f9b;
}
.rtb-btn--secondary-just-bordered:not(.rtb-btn--disabled):active,
.rtb-btn--secondary-just-bordered.rtb-btn--loading {
    border-color: rgba(5, 0, 56, 0.6);
}
.rtb-btn--secondary-just-bordered.rtb-btn--loading::before {
    border-color: transparent #050038 #050038 #050038;
}
.rtb-btn--loading {
    position: relative;
    color: transparent;
    opacity: 1;
    cursor: default;
    pointer-events: none;
}
.rtb-btn--loading::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    border: 2px solid;
    width: 20px;
    height: 20px;
    animation: spinner 0.6s linear infinite;
}
.rtb-btn--pull-right {
    margin-left: auto;
}
.rtb-btn-group {
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.rtb-btn-group .rtb-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.rtb-btn-group--horizontal .rtb-btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rtb-btn-group--horizontal .rtb-btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.rtb-btn-group--horizontal .rtb-btn + .rtb-btn {
    margin-left: -1px;
}
.rtb-btn-group--vertical {
    -ms-flex-direction: column;
    flex-direction: column;
}
.rtb-btn-group--vertical .rtb-btn:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.rtb-btn-group--vertical .rtb-btn:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.rtb-btn-group--vertical .rtb-btn + .rtb-btn {
    margin-top: -1px;
}
.rtb-btn-group--large .rtb-btn {
    padding: 17px 32px 19px;
    font-size: 20px;
}
.rtb-btn-group--medium .rtb-btn {
    padding: 14px 24px 16px;
    font-size: 16px;
}
.rtb-btn-group--small .rtb-btn {
    padding: 9px 16px 11px;
    font-size: 14px;
}
.rtb-btn-group--mini .rtb-btn {
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 2px;
}
.rtb-settings-grid {
    display: -ms-flexbox;
    display: flex;
    padding: 16px 30px 22px 30px;
}
.rtb-settings-grid__column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid #ebebef;
    min-height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.rtb-settings-grid__column:last-child {
    border-color: transparent;
    padding-right: 0;
}
.rtb-settings-grid__column:first-child {
    padding-left: 0;
}
.rtb-settings-grid__column__title {
    font-size: 12px;
    color: #827f9b;
    margin-top: 1px;
    margin-bottom: 10px;
}
.rtb-settings-grid__column__title--primary {
    color: #4262ff;
}
.rtb-settings-grid__row {
    display: -ms-flexbox;
    display: flex;
}
.rtb-settings-grid__row--radiobutton {
    height: 32px;
    -ms-flex-align: center;
    align-items: center;
}
.rtb-settings-grid__row--radiobutton .rtb-radiobutton.rtb-radiobutton--medium {
    margin-bottom: 0;
    width: auto;
}
input.rtb-input,
.rtb-input {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    padding: 11px 16px 13px;
    font-size: 16px;
    height: 48px;
}
input.rtb-input.rtb-input--primary,
.rtb-input.rtb-input--primary {
    color: #050038;
    background-color: #fff;
    border-color: #c3c2cf;
}
input.rtb-input.rtb-input--primary::-webkit-input-placeholder,
.rtb-input.rtb-input--primary::-webkit-input-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--primary::-moz-placeholder,
.rtb-input.rtb-input--primary::-moz-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--primary:-moz-placeholder,
.rtb-input.rtb-input--primary:-moz-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--primary:-ms-input-placeholder,
.rtb-input.rtb-input--primary:-ms-input-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--primary::-ms-input-placeholder,
.rtb-input.rtb-input--primary::-ms-input-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--primary:-ms-input-placeholder,
.rtb-input.rtb-input--primary:-ms-input-placeholder {
    color: #827f9b;
    opacity: 1;
    /* Firefox */
}
input.rtb-input.rtb-input--primary::placeholder,
.rtb-input.rtb-input--primary::placeholder {
    color: #827f9b;
    opacity: 1;
    /* Firefox */
}
input.rtb-input.rtb-input--primary:not([disabled]):hover,
.rtb-input.rtb-input--primary:not([disabled]):hover {
    border-color: #827f9b;
}
input.rtb-input.rtb-input--primary:not([readonly]):focus,
.rtb-input.rtb-input--primary:not([readonly]):focus {
    border-color: #6881ff;
}
input.rtb-input.rtb-input--light,
.rtb-input.rtb-input--light {
    color: #050038;
    background-color: transparent;
    border-color: rgba(5, 0, 56, 0.24);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 0 1px;
    background-position: 0 100%;
    background-image: linear-gradient(90deg, rgba(5, 0, 56, 0.5), rgba(5, 0, 56, 0.5));
    transition: border-color 0.4s ease-in-out, background-size 0.4s ease-in-out;
    padding: 4px 0 4px;
    font-size: 16px;
    height: 48px;
}
input.rtb-input.rtb-input--light::-webkit-input-placeholder,
.rtb-input.rtb-input--light::-webkit-input-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--light::-moz-placeholder,
.rtb-input.rtb-input--light::-moz-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--light:-moz-placeholder,
.rtb-input.rtb-input--light:-moz-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--light:-ms-input-placeholder,
.rtb-input.rtb-input--light:-ms-input-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--light::-ms-input-placeholder,
.rtb-input.rtb-input--light::-ms-input-placeholder {
    color: #827f9b;
}
input.rtb-input.rtb-input--light:-ms-input-placeholder,
.rtb-input.rtb-input--light:-ms-input-placeholder {
    color: #827f9b;
    opacity: 1;
    /* Firefox */
}
input.rtb-input.rtb-input--light::placeholder,
.rtb-input.rtb-input--light::placeholder {
    color: #827f9b;
    opacity: 1;
    /* Firefox */
}
input.rtb-input.rtb-input--light:not([disabled]):hover,
.rtb-input.rtb-input--light:not([disabled]):hover {
    border-color: rgba(5, 0, 56, 0.24);
}
input.rtb-input.rtb-input--light:not([readonly]):focus,
.rtb-input.rtb-input--light:not([readonly]):focus {
    border-color: #6881ff;
}
input.rtb-input.rtb-input--light:hover,
.rtb-input.rtb-input--light:hover,
input.rtb-input.rtb-input--light:focus,
.rtb-input.rtb-input--light:focus {
    background-size: 100% 1px;
}
input.rtb-input.rtb-input--light.rtb-input--huge,
.rtb-input.rtb-input--light.rtb-input--huge {
    padding: 8px 0 4px;
    font-size: 32px;
    height: 60px;
}
input.rtb-input.rtb-input--light.rtb-input--big,
.rtb-input.rtb-input--light.rtb-input--big {
    padding: 8px 0 4px;
    font-size: 24px;
    height: 60px;
}
input.rtb-input.rtb-input--light.rtb-input--large,
.rtb-input.rtb-input--light.rtb-input--large {
    padding: 8px 0 4px;
    font-size: 20px;
    height: 60px;
}
input.rtb-input.rtb-input--light.rtb-input--medium,
.rtb-input.rtb-input--light.rtb-input--medium {
    padding: 4px 0 4px;
    font-size: 16px;
    height: 48px;
}
input.rtb-input.rtb-input--light.rtb-input--small,
.rtb-input.rtb-input--light.rtb-input--small {
    padding: 2px 0 4px;
    font-size: 14px;
    height: 36px;
}
input.rtb-input.rtb-input--light[readonly],
.rtb-input.rtb-input--light[readonly] {
    border: none;
    background: none;
}
input.rtb-input.rtb-input--light[disabled],
.rtb-input.rtb-input--light[disabled] {
    opacity: 0.4;
    cursor: default;
}
input.rtb-input[disabled],
.rtb-input[disabled] {
    opacity: 0.4;
    cursor: default;
}
input.rtb-input.rtb-input--large,
.rtb-input.rtb-input--large {
    padding: 14px 20px 17px;
    font-size: 20px;
    height: 60px;
}
input.rtb-input.rtb-input--medium,
.rtb-input.rtb-input--medium {
    padding: 11px 16px 13px;
    font-size: 16px;
    height: 48px;
}
input.rtb-input.rtb-input--small,
.rtb-input.rtb-input--small {
    padding: 6px 14px 9px;
    font-size: 14px;
    height: 36px;
}
input.rtb-input.rtb-input--invalid,
.rtb-input.rtb-input--invalid {
    border-color: #d92929 !important;
}
input.rtb-input.rtb-input--success,
.rtb-input.rtb-input--success {
    border-color: #7cc576 !important;
}
input.rtb-input.rtb-input--fluid,
.rtb-input.rtb-input--fluid {
    width: 100%;
}
select.rtb-select,
div.rtb-select .rtb-select__button {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiMzMzMiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0 39px 0 15px;
    font-size: 16px;
    height: 48px;
    background-position: right 7px center;
}
select.rtb-select.rtb-select--primary,
div.rtb-select.rtb-select--primary .rtb-select__button {
    color: #fff;
    background-color: #4262ff;
    border-color: #4262ff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}
select.rtb-select.rtb-select--primary:not([disabled]):hover,
div.rtb-select.rtb-select--primary .rtb-select__button:not([disabled]):hover {
    border-color: #455bed;
    color: #fff;
    background-color: #455bed;
}
select.rtb-select.rtb-select--primary:not([readonly]):focus,
div.rtb-select.rtb-select--primary .rtb-select__button:not([readonly]):focus,
select.rtb-select.rtb-select--primary:not([readonly])[is-active="true"],
div.rtb-select.rtb-select--primary .rtb-select__button:not([readonly])[is-active="true"] {
    border-color: #455bed;
    color: #fff;
    background-color: #455bed;
}
select.rtb-select.rtb-select--secondary,
div.rtb-select.rtb-select--secondary .rtb-select__button {
    color: #050038;
    background-color: #f5f5f7;
    border-color: #f5f5f7;
}
select.rtb-select.rtb-select--secondary:not([disabled]):hover,
div.rtb-select.rtb-select--secondary .rtb-select__button:not([disabled]):hover {
    border-color: #f0f0f3;
    color: #050038;
    background-color: #f0f0f3;
}
select.rtb-select.rtb-select--secondary:not([readonly]):focus,
div.rtb-select.rtb-select--secondary .rtb-select__button:not([readonly]):focus,
select.rtb-select.rtb-select--secondary:not([readonly])[is-active="true"],
div.rtb-select.rtb-select--secondary .rtb-select__button:not([readonly])[is-active="true"] {
    border-color: #f0f0f3;
    color: #050038;
    background-color: #f0f0f3;
}
select.rtb-select.rtb-select--primary-bordered,
div.rtb-select.rtb-select--primary-bordered .rtb-select__button {
    color: #4262ff;
    background-color: transparent;
    border-color: #4262ff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0NTViZWQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}
select.rtb-select.rtb-select--primary-bordered:not([disabled]):hover,
div.rtb-select.rtb-select--primary-bordered .rtb-select__button:not([disabled]):hover {
    border-color: #455bed;
    color: #4262ff;
    background-color: transparent;
}
select.rtb-select.rtb-select--primary-bordered:not([readonly]):focus,
div.rtb-select.rtb-select--primary-bordered .rtb-select__button:not([readonly]):focus,
select.rtb-select.rtb-select--primary-bordered:not([readonly])[is-active="true"],
div.rtb-select.rtb-select--primary-bordered .rtb-select__button:not([readonly])[is-active="true"] {
    border-color: #3d51d4;
    color: #4262ff;
    background-color: transparent;
}
select.rtb-select.rtb-select--secondary-bordered,
div.rtb-select.rtb-select--secondary-bordered .rtb-select__button {
    color: #050038;
    background-color: transparent;
    border-color: #c3c2cf;
}
select.rtb-select.rtb-select--secondary-bordered:not([disabled]):hover,
div.rtb-select.rtb-select--secondary-bordered .rtb-select__button:not([disabled]):hover {
    border-color: #827f9b;
    color: #050038;
    background-color: transparent;
}
select.rtb-select.rtb-select--secondary-bordered:not([readonly]):focus,
div.rtb-select.rtb-select--secondary-bordered .rtb-select__button:not([readonly]):focus,
select.rtb-select.rtb-select--secondary-bordered:not([readonly])[is-active="true"],
div.rtb-select.rtb-select--secondary-bordered .rtb-select__button:not([readonly])[is-active="true"] {
    border-color: #6881ff;
    color: #050038;
    background-color: transparent;
}
select.rtb-select.rtb-select--primary-underlined,
div.rtb-select.rtb-select--primary-underlined .rtb-select__button {
    color: #4262ff;
    background-color: transparent;
    border-color: #4262ff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0NTViZWQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}
select.rtb-select.rtb-select--primary-underlined:not([disabled]):hover,
div.rtb-select.rtb-select--primary-underlined .rtb-select__button:not([disabled]):hover {
    border-color: #455bed;
    color: #4262ff;
    background-color: transparent;
}
select.rtb-select.rtb-select--primary-underlined:not([readonly]):focus,
div.rtb-select.rtb-select--primary-underlined .rtb-select__button:not([readonly]):focus,
select.rtb-select.rtb-select--primary-underlined:not([readonly])[is-active="true"],
div.rtb-select.rtb-select--primary-underlined .rtb-select__button:not([readonly])[is-active="true"] {
    border-color: #3d51d4;
    color: #4262ff;
    background-color: transparent;
}
select.rtb-select.rtb-select--secondary-underlined,
div.rtb-select.rtb-select--secondary-underlined .rtb-select__button {
    color: #050038;
    background-color: transparent;
    border-color: #c3c2cf;
}
select.rtb-select.rtb-select--secondary-underlined:not([disabled]):hover,
div.rtb-select.rtb-select--secondary-underlined .rtb-select__button:not([disabled]):hover {
    border-color: #827f9b;
    color: #050038;
    background-color: transparent;
}
select.rtb-select.rtb-select--secondary-underlined:not([readonly]):focus,
div.rtb-select.rtb-select--secondary-underlined .rtb-select__button:not([readonly]):focus,
select.rtb-select.rtb-select--secondary-underlined:not([readonly])[is-active="true"],
div.rtb-select.rtb-select--secondary-underlined .rtb-select__button:not([readonly])[is-active="true"] {
    border-color: #6881ff;
    color: #050038;
    background-color: transparent;
}
select.rtb-select.rtb-select--primary-flat,
div.rtb-select.rtb-select--primary-flat .rtb-select__button {
    color: #4262ff;
    background-color: transparent;
    border-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0NTViZWQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}
select.rtb-select.rtb-select--primary-flat:not([disabled]):hover,
div.rtb-select.rtb-select--primary-flat .rtb-select__button:not([disabled]):hover {
    border-color: transparent;
    color: #455bed;
    background-color: transparent;
}
select.rtb-select.rtb-select--primary-flat:not([readonly]):focus,
div.rtb-select.rtb-select--primary-flat .rtb-select__button:not([readonly]):focus,
select.rtb-select.rtb-select--primary-flat:not([readonly])[is-active="true"],
div.rtb-select.rtb-select--primary-flat .rtb-select__button:not([readonly])[is-active="true"] {
    border-color: transparent;
    color: #455bed;
    background-color: transparent;
}
select.rtb-select.rtb-select--secondary-flat,
div.rtb-select.rtb-select--secondary-flat .rtb-select__button {
    color: #050038;
    background-color: transparent;
    border-color: transparent;
}
select.rtb-select.rtb-select--secondary-flat:not([disabled]):hover,
div.rtb-select.rtb-select--secondary-flat .rtb-select__button:not([disabled]):hover {
    border-color: transparent;
    color: #455bed;
    background-color: transparent;
}
select.rtb-select.rtb-select--secondary-flat:not([readonly]):focus,
div.rtb-select.rtb-select--secondary-flat .rtb-select__button:not([readonly]):focus,
select.rtb-select.rtb-select--secondary-flat:not([readonly])[is-active="true"],
div.rtb-select.rtb-select--secondary-flat .rtb-select__button:not([readonly])[is-active="true"] {
    border-color: transparent;
    color: #455bed;
    background-color: transparent;
}
select.rtb-select.rtb-select--secondary-flat:hover,
div.rtb-select.rtb-select--secondary-flat .rtb-select__button:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0NTViZWQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}
.rtb-select.rtb-select--secondary-flat[is-open="true"] .rtb-select__button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0NTViZWQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}
.rtb-select.rtb-select--secondary-flat .rtb-select__button:focus {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGZpbGw9IiM0NTViZWQiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTkuNzA3IDEwLjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRMMTIgMTUuNDE0bDMuNzA3LTMuNzA3YTEgMSAwIDAgMC0xLjQxNC0xLjQxNEwxMiAxMi41ODZsLTIuMjkzLTIuMjkzeiIvPgo8L3N2Zz4K);
}
select.rtb-select[disabled],
div.rtb-select[disabled] .rtb-select__button {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}
select.rtb-select.rtb-select--large,
div.rtb-select.rtb-select--large .rtb-select__button {
    padding: 0 49px 0 19px;
    font-size: 20px;
    height: 60px;
    background-position: right 11px center;
}
select.rtb-select.rtb-select--large.rtb-select--underlined,
div.rtb-select.rtb-select--large.rtb-select--underlined .rtb-select__button {
    padding: 0 31px 0 0;
    font-size: 20px;
    height: 60px;
    background-position: right -7px center;
}
select.rtb-select.rtb-select--medium,
div.rtb-select.rtb-select--medium .rtb-select__button {
    padding: 0 39px 0 15px;
    font-size: 16px;
    height: 48px;
    background-position: right 7px center;
}
select.rtb-select.rtb-select--medium.rtb-select--underlined,
div.rtb-select.rtb-select--medium.rtb-select--underlined .rtb-select__button {
    padding: 0 25px 0 0;
    font-size: 16px;
    height: 48px;
    background-position: right -7px center;
}
select.rtb-select.rtb-select--small,
div.rtb-select.rtb-select--small .rtb-select__button {
    padding: 0 35px 0 13px;
    font-size: 14px;
    height: 36px;
    background-position: right 7px center;
}
select.rtb-select.rtb-select--small.rtb-select--underlined,
div.rtb-select.rtb-select--small.rtb-select--underlined .rtb-select__button {
    padding: 0 21px 0 0;
    font-size: 14px;
    height: 36px;
    background-position: right -7px center;
}
select.rtb-select.rtb-select--40px,
div.rtb-select.rtb-select--40px .rtb-select__button {
    padding: 0 39px 0 15px;
    font-size: 16px;
    height: 40px;
    background-position: right 7px center;
}
select.rtb-select.rtb-select--underlined,
div.rtb-select.rtb-select--underlined .rtb-select__button {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.rtb-select.rtb-select--fluid,
div.rtb-select.rtb-select--fluid .rtb-select__button {
    width: 100%;
}
select.rtb-select.rtb-select--invalid,
div.rtb-select.rtb-select--invalid .rtb-select__button {
    border-color: #d92929 !important;
}
select.rtb-select.rtb-select--success,
div.rtb-select.rtb-select--success .rtb-select__button {
    border-color: #7cc576 !important;
}
.status-text {
    margin-top: 8px;
    font-size: 12px;
}
.rtb-input-group {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.rtb-input-group .rtb-input:not(:first-child):not(:last-child),
.rtb-input-group .rtb-btn:not(:first-child):not(:last-child),
.rtb-input-group .rtb-select:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.rtb-input-group input.rtb-input:first-child:not(:last-child),
.rtb-input-group select.rtb-select:first-child:not(:last-child),
.rtb-input-group div.rtb-select:first-child:not(:last-child) {
    margin-left: 0;
}
.rtb-input-group input.rtb-input:first-child:not(:last-child):hover,
.rtb-input-group select.rtb-select:first-child:not(:last-child):hover,
.rtb-input-group div.rtb-select:first-child:not(:last-child):hover,
.rtb-input-group input.rtb-input:first-child:not(:last-child):focus,
.rtb-input-group select.rtb-select:first-child:not(:last-child):focus,
.rtb-input-group div.rtb-select:first-child:not(:last-child):focus,
.rtb-input-group input.rtb-input:first-child:not(:last-child):active,
.rtb-input-group select.rtb-select:first-child:not(:last-child):active,
.rtb-input-group div.rtb-select:first-child:not(:last-child):active {
    margin-right: -1px;
}
.rtb-input-group input.rtb-input:first-child:not(:last-child):hover + input.rtb-input,
.rtb-input-group select.rtb-select:first-child:not(:last-child):hover + input.rtb-input,
.rtb-input-group div.rtb-select:first-child:not(:last-child):hover + input.rtb-input,
.rtb-input-group input.rtb-input:first-child:not(:last-child):focus + input.rtb-input,
.rtb-input-group select.rtb-select:first-child:not(:last-child):focus + input.rtb-input,
.rtb-input-group div.rtb-select:first-child:not(:last-child):focus + input.rtb-input,
.rtb-input-group input.rtb-input:first-child:not(:last-child):active + input.rtb-input,
.rtb-input-group select.rtb-select:first-child:not(:last-child):active + input.rtb-input,
.rtb-input-group div.rtb-select:first-child:not(:last-child):active + input.rtb-input,
.rtb-input-group input.rtb-input:first-child:not(:last-child):hover + select.rtb-select,
.rtb-input-group select.rtb-select:first-child:not(:last-child):hover + select.rtb-select,
.rtb-input-group div.rtb-select:first-child:not(:last-child):hover + select.rtb-select,
.rtb-input-group input.rtb-input:first-child:not(:last-child):focus + select.rtb-select,
.rtb-input-group select.rtb-select:first-child:not(:last-child):focus + select.rtb-select,
.rtb-input-group div.rtb-select:first-child:not(:last-child):focus + select.rtb-select,
.rtb-input-group input.rtb-input:first-child:not(:last-child):active + select.rtb-select,
.rtb-input-group select.rtb-select:first-child:not(:last-child):active + select.rtb-select,
.rtb-input-group div.rtb-select:first-child:not(:last-child):active + select.rtb-select,
.rtb-input-group input.rtb-input:first-child:not(:last-child):hover + .rtb-btn,
.rtb-input-group select.rtb-select:first-child:not(:last-child):hover + .rtb-btn,
.rtb-input-group div.rtb-select:first-child:not(:last-child):hover + .rtb-btn,
.rtb-input-group input.rtb-input:first-child:not(:last-child):focus + .rtb-btn,
.rtb-input-group select.rtb-select:first-child:not(:last-child):focus + .rtb-btn,
.rtb-input-group div.rtb-select:first-child:not(:last-child):focus + .rtb-btn,
.rtb-input-group input.rtb-input:first-child:not(:last-child):active + .rtb-btn,
.rtb-input-group select.rtb-select:first-child:not(:last-child):active + .rtb-btn,
.rtb-input-group div.rtb-select:first-child:not(:last-child):active + .rtb-btn {
    margin-left: 0;
    border-left-color: transparent;
}
.rtb-input-group input.rtb-input:first-child:not(:last-child):hover + div.rtb-select,
.rtb-input-group select.rtb-select:first-child:not(:last-child):hover + div.rtb-select,
.rtb-input-group div.rtb-select:first-child:not(:last-child):hover + div.rtb-select,
.rtb-input-group input.rtb-input:first-child:not(:last-child):focus + div.rtb-select,
.rtb-input-group select.rtb-select:first-child:not(:last-child):focus + div.rtb-select,
.rtb-input-group div.rtb-select:first-child:not(:last-child):focus + div.rtb-select,
.rtb-input-group input.rtb-input:first-child:not(:last-child):active + div.rtb-select,
.rtb-input-group select.rtb-select:first-child:not(:last-child):active + div.rtb-select,
.rtb-input-group div.rtb-select:first-child:not(:last-child):active + div.rtb-select {
    margin-left: 0;
}
.rtb-input-group input.rtb-input:first-child:not(:last-child):hover + div.rtb-select .rtb-select__button,
.rtb-input-group select.rtb-select:first-child:not(:last-child):hover + div.rtb-select .rtb-select__button,
.rtb-input-group div.rtb-select:first-child:not(:last-child):hover + div.rtb-select .rtb-select__button,
.rtb-input-group input.rtb-input:first-child:not(:last-child):focus + div.rtb-select .rtb-select__button,
.rtb-input-group select.rtb-select:first-child:not(:last-child):focus + div.rtb-select .rtb-select__button,
.rtb-input-group div.rtb-select:first-child:not(:last-child):focus + div.rtb-select .rtb-select__button,
.rtb-input-group input.rtb-input:first-child:not(:last-child):active + div.rtb-select .rtb-select__button,
.rtb-input-group select.rtb-select:first-child:not(:last-child):active + div.rtb-select .rtb-select__button,
.rtb-input-group div.rtb-select:first-child:not(:last-child):active + div.rtb-select .rtb-select__button {
    border-left-color: transparent;
}
.rtb-input-group div.rtb-select[is-open="true"]:first-child:not(:last-child) {
    margin-right: -1px;
}
.rtb-input-group div.rtb-select[is-open="true"]:first-child:not(:last-child) + input.rtb-input,
.rtb-input-group div.rtb-select[is-open="true"]:first-child:not(:last-child) + select.rtb-select,
.rtb-input-group div.rtb-select[is-open="true"]:first-child:not(:last-child) + .rtb-btn {
    margin-left: 0;
    border-left-color: transparent;
}
.rtb-input-group div.rtb-select[is-open="true"]:first-child:not(:last-child) + div.rtb-select {
    margin-left: 0;
}
.rtb-input-group div.rtb-select[is-open="true"]:first-child:not(:last-child) + div.rtb-select .rtb-select__button {
    border-left-color: transparent;
}
.rtb-input-group input.rtb-input,
.rtb-input-group select.rtb-select,
.rtb-input-group div.rtb-select,
.rtb-input-group .rtb-btn {
    margin: 0 0 0 -1px;
}
.rtb-input-group input.rtb-input:first-child:not(:last-child),
.rtb-input-group select.rtb-select:first-child:not(:last-child),
.rtb-input-group div.rtb-select:first-child:not(:last-child) .rtb-select__button,
.rtb-input-group .rtb-btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rtb-input-group input.rtb-input:last-child:not(:first-child),
.rtb-input-group select.rtb-select:last-child:not(:first-child),
.rtb-input-group div.rtb-select:last-child:not(:first-child) .rtb-select__button,
.rtb-input-group .rtb-btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.rtb-input-group.rtb-input-group--large .rtb-input {
    padding: 14px 20px 17px;
    font-size: 20px;
    height: 60px;
}
.rtb-input-group.rtb-input-group--large .rtb-btn {
    padding: 17px 32px 19px;
    min-width: 120px;
    font-size: 20px;
    height: 60px;
}
.rtb-btn:not(.ng-hide) + .rtb-input-group.rtb-input-group--large .rtb-btn:not(.rtb-btn--pull-right) {
    margin-left: 20px;
}
.rtb-input-group.rtb-input-group--large .rtb-btn .rtb-btn__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.rtb-input-group.rtb-input-group--large select.rtb-select {
    padding: 0 49px 0 19px;
    font-size: 20px;
    height: 60px;
    background-position: right 11px center;
}
.rtb-input-group.rtb-input-group--medium .rtb-input {
    padding: 11px 16px 13px;
    font-size: 16px;
    height: 48px;
}
.rtb-input-group.rtb-input-group--medium .rtb-btn {
    padding: 14px 24px 16px;
    min-width: 100px;
    font-size: 16px;
    height: 48px;
}
.rtb-btn:not(.ng-hide) + .rtb-input-group.rtb-input-group--medium .rtb-btn:not(.rtb-btn--pull-right) {
    margin-left: 16px;
}
.rtb-input-group.rtb-input-group--medium .rtb-btn .rtb-btn__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.rtb-input-group.rtb-input-group--medium select.rtb-select {
    padding: 0 39px 0 15px;
    font-size: 16px;
    height: 48px;
    background-position: right 7px center;
}
.rtb-input-group.rtb-input-group--small .rtb-input {
    padding: 6px 14px 9px;
    font-size: 14px;
    height: 36px;
}
.rtb-input-group.rtb-input-group--small .rtb-btn {
    padding: 9px 16px 11px;
    min-width: 80px;
    font-size: 14px;
    height: 36px;
}
.rtb-btn:not(.ng-hide) + .rtb-input-group.rtb-input-group--small .rtb-btn:not(.rtb-btn--pull-right) {
    margin-left: 14px;
}
.rtb-input-group.rtb-input-group--small .rtb-btn .rtb-btn__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.rtb-input-group.rtb-input-group--small .rtb-btn.rtb-btn--loading::before {
    width: 16px;
    height: 16px;
}
.rtb-input-group.rtb-input-group--small select.rtb-select {
    padding: 0 35px 0 13px;
    font-size: 14px;
    height: 36px;
    background-position: right 7px center;
}
.rtb-input-group.rtb-input-group--disabled {
    opacity: 0.4;
    pointer-events: none;
}
.rtb-input-group.rtb-input-group--readonly .rtb-btn.rtb-btn--primary {
    background-color: #827f9b;
    border-color: #827f9b;
    color: #fff;
}
.rtb-input-group.rtb-input-group--readonly .rtb-btn.rtb-btn--primary:not([disabled]):not(.rtb-btn--loading):hover {
    background-color: rgba(5, 0, 56, 0.6);
    border-color: rgba(5, 0, 56, 0.6);
}
.rtb-input-group.rtb-input-group--invalid input.rtb-input,
.rtb-input-group.rtb-input-group--invalid select.rtb-select {
    border-color: #d92929 !important;
}
.rtb-input-group.rtb-input-group--success input.rtb-input,
.rtb-input-group.rtb-input-group--success select.rtb-select {
    border-color: #7cc576 !important;
}
.rtb-input-group.rtb-input-group--fluid {
    width: 100%;
}
.rtb-input-group.rtb-input-group--fluid input.rtb-input,
.rtb-input-group.rtb-input-group--fluid select.rtb-select,
.rtb-input-group.rtb-input-group--fluid div.rtb-select {
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
}
.rtb-input-group.rtb-input-group--inline {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.rtb-input-group.rtb-input-group--inline input.rtb-input,
.rtb-input-group.rtb-input-group--inline select.rtb-select,
.rtb-input-group.rtb-input-group--inline div.rtb-select {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
}
.rtb-input-group.rtb-input-group--inline button.rtb-btn {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.rtb-input-field label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #050038;
}
.rtb-input-field > .rtb-input,
.rtb-input-field > .rtb-select {
    width: 100%;
}
.rtb-input-field.rtb-input-field--large label {
    font-size: 20px;
    margin-bottom: 12px;
}
.rtb-input-field.rtb-input-field--large > .rtb-input {
    padding: 14px 20px 17px;
    font-size: 20px;
    height: 60px;
}
.rtb-input-field.rtb-input-field--large > select.rtb-select {
    padding: 0 49px 0 19px;
    font-size: 20px;
    height: 60px;
    background-position: right 11px center;
}
.rtb-input-field.rtb-input-field--medium label {
    font-size: 16px;
    margin-bottom: 10px;
}
.rtb-input-field.rtb-input-field--medium > input.rtb-input {
    padding: 11px 16px 13px;
    font-size: 16px;
    height: 48px;
}
.rtb-input-field.rtb-input-field--medium > select.rtb-select {
    padding: 0 39px 0 15px;
    font-size: 16px;
    height: 48px;
    background-position: right 7px center;
}
.rtb-input-field.rtb-input-field--small label {
    font-size: 14px;
    margin-bottom: 8px;
}
.rtb-input-field.rtb-input-field--small > input.rtb-input {
    padding: 6px 14px 9px;
    font-size: 14px;
    height: 36px;
}
.rtb-input-field.rtb-input-field--small > select.rtb-select {
    padding: 0 35px 0 13px;
    font-size: 14px;
    height: 36px;
    background-position: right 7px center;
}
.rtb-input-field.rtb-input-field--disabled {
    opacity: 0.4;
    pointer-events: none;
}
.rtb-input-field.rtb-input-field--invalid > input.rtb-input,
.rtb-input-field.rtb-input-field--invalid > select.rtb-select {
    border-color: #d92929 !important;
}
.rtb-input-field.rtb-input-field--invalid .status-text {
    display: block;
    color: #d92929;
}
.rtb-input-field .rtb-input--invalid + .status-text,
.rtb-input-field .rtb-select--invalid + .status-text {
    display: block;
    color: #d92929;
}
.rtb-input-field.rtb-input-field--success > input.rtb-input,
.rtb-input-field.rtb-input-field--success > select.rtb-select {
    border-color: #7cc576 !important;
}
.rtb-input-field.rtb-input-field--success .status-text {
    display: block;
    color: #7cc576;
}
.rtb-input-field .rtb-input--success + .status-text,
.rtb-input-field .rtb-select--success + .status-text {
    display: block;
    color: #7cc576;
}
.rtb-input-field.rtb-input-field--light label {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    color: #827f9b;
}
.rtb-input-field.rtb-input-field--light .rtb-input--light {
    padding-top: 0 !important;
}
.rtb-link {
    display: inline;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: border 250ms, color 250ms;
    cursor: pointer;
}
.rtb-link.rtb-link--primary {
    color: #4262ff;
    border-bottom-color: #c2ccff;
}
.rtb-link.rtb-link--primary:hover {
    color: #455bed;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--primary:active {
    color: #3d51d4;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--secondary {
    color: #827f9b;
    border-bottom-color: #e1e0e7;
}
.rtb-link.rtb-link--secondary:hover {
    color: #827f9b;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--secondary:active {
    color: #827f9b;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--secondary-light {
    color: #827f9b;
    border-bottom-color: #827f9b;
}
.rtb-link.rtb-link--secondary-light:hover {
    color: #050038;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--secondary-light:active {
    color: #050038;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--danger {
    color: #d92929;
    border-bottom-color: #e15454;
}
.rtb-link.rtb-link--danger:hover {
    color: #c71414;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--danger:active {
    color: #b80d0d;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--light {
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.4);
}
.rtb-link.rtb-link--light:hover {
    color: #fff;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--light:active {
    color: #fff;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--text {
    color: #050038;
    border-bottom-color: #827f9b;
}
.rtb-link.rtb-link--text:hover {
    color: #050038;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--text:active {
    color: #050038;
    border-bottom-color: currentColor;
}
.rtb-link.rtb-link--no-wrapped {
    white-space: nowrap;
}
.rtb-link.rtb-link--dashed {
    border-bottom-style: dashed;
}
.rtb-link.rtb-link--disabled {
    pointer-events: none;
}
/*!* open-sans-300 - latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*    font-family: 'OpenSans';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: local('Open Sans Light'), local('OpenSans-Light'), url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-300.691f77.woff2) format('woff2'),  url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-300.431475.woff) format('woff');*/
/*    !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/
/*!* open-sans-regular - latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*    font-family: 'OpenSans';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-regular.e78dce.woff2) format('woff2'),  url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-regular.86f83c.woff) format('woff');*/
/*    !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/
/*!* open-sans-italic - latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*    font-family: 'OpenSans';*/
/*    font-style: italic;*/
/*    font-weight: 400;*/
/*    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-italic.d4955e.woff2) format('woff2'),  url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-italic.e83241.woff) format('woff');*/
/*    !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/
/*!* open-sans-600 - latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*    font-family: 'OpenSans';*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-600.e9681c.woff2) format('woff2'),  url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-600.b4f765.woff) format('woff');*/
/*    !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/
/*!* open-sans-700 - latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*    font-family: 'OpenSans';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-700.96f383.woff2) format('woff2'),  url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-700.dd482b.woff) format('woff');*/
/*    !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/
/*!* open-sans-700italic - latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*    font-family: 'OpenSans';*/
/*    font-style: italic;*/
/*    font-weight: 700;*/
/*    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-700italic.eab33c.woff2) format('woff2'),  url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-700italic.f569a6.woff) format('woff');*/
/*    !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/
/*!* open-sans-800 - latin_cyrillic_latin-ext *!*/
/*@font-face {*/
/*    font-family: 'OpenSans';*/
/*    font-style: normal;*/
/*    font-weight: 800;*/
/*    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-800.f12f94.woff2) format('woff2'),  url(/app/static/static/fonts/general/OpenSans/open-sans-v15-latin_cyrillic_latin-ext-800.a466ca.woff) format('woff');*/
/*    !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/